/*  This CSS file is PROTECTED, any modifications made on it will be overwritten at each saving of your project  */
/*  You can modify these CSS classes in Ressources/css/player.css file */
/*  For more informations, you can check our GITHUB @ https://github.com/Klynt/Klynt-Player/wiki/CSSArchitecture */

/*------- player/splashscreen.css (level 1) -------*/

#splashscreen{
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	top:0px;
	width:100%;
	height:100%;
	z-index: 2;
}

#logo{
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-position: 50% 53%; 
	opacity: 0;
}