.mejs-klynt .mejs-container {
    background: transparent;
}

.mejs-klynt .mejs-controls *:focus {
    outline: none;
}

.mejs-klynt .mejs-controls {
	z-index: 1000;
        
    background: rgba(0, 0, 0, 0.2);
    
}

.mejs-klynt .mejs-poster {
  background-size: cover;
}

.mejs-klynt .mejs-controls .mejs-button button:focus {
    outline: none;
}

.mejs-klynt .mejs-overlay-button {
    background: url(img/bigplay.png) no-repeat;
}

.mejs-klynt .mejs-controls .mejs-button button {
    background-image: url(img/controls.svg);
    left: 2px;
}

.mejs-klynt .no-svg .mejs-controls .mejs-button button {
    background-image: url(img/controls.png);
}

.mejs-klynt .mejs-time-total {
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.4);
}

.mejs-klynt .mejs-controls .mejs-time-rail span {
	height: 4px;
}

.mejs-klynt .mejs-controls .mejs-time-rail .mejs-time-float {
	height: 17px;
}

.mejs-klynt .mejs-controls div.mejs-time-rail {
	padding-top: 9px;
    padding-right: 28px;
}

.mejs-klynt .mejs-controls .mejs-time-rail .mejs-time-total {
    background: rgba(120,120,120,0.5);
}

/*.mejs-klynt .mejs-controls .mejs-time-rail .mejs-time-buffering {
    background: rgba(11, 11, 11, 0.2);
}*/

.mejs-klynt .mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: rgba(120,120,120,1);
}

.mejs-klynt .mejs-captions-text {
    padding: 5px 7px;
    background: rgba(58, 60, 61, 0);
    border-radius: 4px;
}

.mejs-klynt .mejs-controls .mejs-time-rail .mejs-time-float {
    top: -31px;
}
