.txt-Default {
	font-family: Open Sans;
	font-style: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
	text-align: left;
	padding: 2px;
	line-height: 1.3;
}

.txt-Title-1 {
	font-family: Abril Fatface;
	font-style: normal;
	font-size: 48px;
	color: rgba(255,255,255,1);
	text-align: left;
	padding: 2px;
	line-height: 1.2;
}

.txt-Title-2 {
	font-family: Abril Fatface;
	font-style: normal;
	font-size: 36px;
	color: rgba(255,255,255,1);
	text-align: left;
	padding: 2px;
	line-height: 1.2;
}

.txt-Title-3 {
	font-family: Abril Fatface;
	font-style: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
	text-align: left;
	padding: 2px;
	line-height: 1.2;
}

.txt-Subtitle {
	font-family: Open Sans;
	font-style: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
	text-align: center;
	padding: 2px;
	line-height: 1.2;
	text-shadow: -1px 1px 0px rgba(0,0,0,1);
}

.txt-Paragraph {
	font-family: Open Sans;
	font-style: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	text-align: justify;
	padding: 2px;
	line-height: 1.2;
}
