.ui-tooltip {
	padding: 5px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	box-shadow: 0 0 5px #000000;
	-webkit-box-shadow: 0 0 5px #000000;
	-moz-box-shadow: 0 0 5px #000000;
	opacity: 0.8;
}

body .ui-tooltip {
	border-width: 0px;
	font-size: 14px;
    font-family: Droid Sans;
	text-align: center;
	color: white;
	background-color: #000000;
	font-weight: normal;
}
